// who-we-are sec c
.progress-rounds{
    padding:0!important;
}
.c1
{
    background-image:url("../../images/circle.svg");
    width: 266px;
    height: 262px;
    margin-left: 11rem;
    margin-top: 17rem;
}
.c2{
        background-image:url("../../images/circle.svg");
        width: 266px;
        height: 262px;
        margin-left: 11rem;
        margin-top: 1rem;
}
.c3
{
    background-image:url("../../images/circle.svg");
    width: 266px;
    height: 262px;
    margin-top: 2rem;
    margin-left: -5rem;
}
.c4
{
    background-image:url("../../images/circle.svg");
    width: 266px;
    height: 262px;
    margin-top: 18rem;
}
.circle-text
{
    text-align: center;
    margin-top: 3rem;
    margin-left: 1rem;
}
img.dotts-pic {
    width: 542px;
    margin-left: 18rem;
}
.percent-icon{
    margin-top: 2rem;
    height: 37px;
    font-size: 43px;
    font-weight: 600;
    line-height: 0.75;
    letter-spacing: normal;
    text-align: center;
    color: #ef5737;
}
.plusicon{
    margin-top: 2rem;
    height: 37px;
    font-size: 43px;
    font-weight: 600;
    line-height: 0.75;
    letter-spacing: normal;
    text-align: center;
    color: #ef5737;
}
.carusal{
    display:none;
}
.carousel-control.left {
 background-image:none!important; 
}
.carousel-control {
    color: black!important; 
}
.carousel-control.right{
    background-image:none!important;  
}
