// style of our services section b

.our-services-secb-main{
    // .image-dotted{
    //     margin-top: 0rem;
    // }
    .our-services-secb-start{
        .brands{
            .we-help-brands{
                h1{
                    width:665px;
                }
                p{
                    width:1003px;
                }
            }
        }
    }
}

                //   PRODUCT DESIGN STYLE

                .product-design-cards{
                    .product-design-cards-start{
                        .cards-product-design{
                            .cards-A-B{
                                .card-product-design-A{
                                    p{
                                        width:279px;
                                    }
                                }
                                .product-description {
                                    margin-left: 30px;
                                }
                            }
                            .cards-C-D{
                                .card-product-design-A{
                                    p{
                                        width:279px;
                                    }
                                }
                                .product-description {
                                    margin-left: 30px;
                                }
                            }
                        }
                    }
                }